@font-face 
{
    font-family: lato;
    src: url(../font/Lato-Regular.ttf);
}

body
{
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
}

header
{
    background-color: #E0E0E0;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 80px;
}

.cabecalho
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

}

#titulo
{
    font-family: lato;
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    margin-right: auto;
    margin-left: 20px;
    color: #333333;
}

#logo
{
    width: 40px;
    margin-left: 180px;
}

#menu
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFFFFF;
    margin-right: 180px;
}

a
{
    font-family: lato;
    font-weight: 600;
    font-size: 16px;
    color: #333333;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.linha
{
    width: 1px;
    height: 20px;
}

.corpo
{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.formulario
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-color: #979797;
    border-radius: 4px;
    margin-top: 100px;
    margin-left: 170px;
    height: 344px;
    width: 26%;
    font-family: lato;
}

#novatrans
{
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    margin-top: 100px;
}

.form1
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-around;
    height: 300px;
    width: 92%;
    font-family: lato;
    font-weight: 400;
    font-size: 14px;
}

.form1 form
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.caixa
{
    width: 100%;
    height: 32px;
    border-radius: 4px;
    border-width: 1px;
}

#addtrns
{
    width: 100%;
    height: 32px;
    background-color: #333333;
    color: #FFFFFF;
    border-radius: 4px;
    border-width: 0px;

}

.historico
{
    width: 50%;
    margin-top: 100px;
    margin-right: 170px;
    margin-left: 15px;
    font-family: lato;
    font-size: 14px;
}

td
{
    padding: 8px;
}

th
{
    padding: 8px;
}

td
{
    border-width: 1px;
    border-style: solid;
    border-color: #333333;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-spacing: 0;
}

thead th
{
    border-width: 1px;
    border-style: solid;
    border-color: #333333;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

tfoot td
{
    border-width: 1px;
    border-style: solid;
    border-color: #333333;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}